/* general */


html {
  font-size: 6.25%;
}

body {
  --red: rgba(230, 57, 70, 1);
  --white: rgba(241, 250, 238, 1);
  --lblue: rgba(168, 218, 220, 1);
  --mblue: rgba(69, 123, 157, 1);
  --dblue: rgba(29, 53, 87, 1);
  --shade: rgba(0,0,0,0.1);

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16rem;
  font-family: sans-serif;
  background-color: var(--lblue);
}


/* header */


header {
  background: var(--mblue);
  padding: 2rem;
  box-shadow: 0 0 3px var(--shade);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* title */


header .title {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}


/* modals */


.modal--category,
.modal--color {
  width: 30%;
  text-align: center;
  user-select: none;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 400px) {
  .modal--category,
  .modal--color {
    width: 100%;
  }
}

.modal--category--open,
.modal--color--open {
  background: var(--dblue); 
}

.modal--category__title,
.modal--color__title {
  padding: 20px;
  color: var(--white);
}

.modal--category__data,
.modal--color__data {
  width: 100%;
  position: absolute;
  z-index: 999;
  background: var(--dblue);
  color: var(--white);
}

.modal--category__data div,
.modal--color__data div {
  border-bottom: 1px solid var(--shade);
  padding: 10px;
  text-align: center;
}

.modal--category__data .active,
.modal--color__data .active {
  border-left: 5px solid var(--red);
}


/* product list */


.products--loading,
.products--error {
  text-align: center;
  padding: 20px;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.product-list__item {
  width: 27%;
  margin: 1%;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 1px 1px 1px var(--shade);
}

@media (max-width: 900px) {
  .product-list__item { width: 44%; }
}
@media (max-width: 600px) {
  .product-list__item { width: 94%; }
}

.product-list__item__name {
  font-size: 20rem;
  font-weight: bold;
  text-align: center;
}

.product-list__item__image {
  margin: 10px 0
}
.product-list__item__image img {
  width: 100%;
}

.product-list__item__category {
  font-style: italic;
}

.product-list__item__colors__name {
  display: inline-block;
  margin: 2px 5px;
  padding: 1px 3px;
  border-radius: 5px;
  background: var(--shade);
}